.filter-button {
  background-color: rgb(160, 240, 160);
}
.filter-button-active {
  background-color: rgb(60, 196, 60);
}
button {
  border: 0px;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}
